/* src/pages/about/About.css */

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    flex-direction: column;
    justify-content: center;
    height:100vh; /* Full viewport height */
    text-align: center; /* Center text */
    padding: 20px; /* Optional padding */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    transform: translateY(50%); 
    margin-bottom: 5px;/* Move the container 50% down */
  }
  
  .about-container h1 {
    margin-bottom: 20px;
  }
  
  .about-container p {
    margin-bottom: 20px;
    line-height: 1.6;
    max-width: 800px;
  }
  
  .about-container h2 {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .about-container ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
  }
  
  .about-container ul li {
    margin-bottom: 10px;
  }
  