/* src/pages/homePage/Home.css */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh; /* Full viewport height */
    text-align: center; /* Center text */
    padding: 20px; /* Optional padding */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    transform: translateY(50%); 
    margin-bottom: 20px;/* Move the container 50% down */
  }
    
  p {
    margin-bottom: 30px; /* Space between paragraph and button */
  }
  
  button {
    background-color: aqua;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .opportunities {
    margin-top: 50px;
    width: 80%;
    text-align: left;
  }
  
  .opportunity {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
  }
  
  .opportunity h3 {
    margin: 0 0 10px 0;
   
  }
  
  .opportunity p {
    margin: 0;
  }
  
  h2{
    
    text-align: center;
    margin: 20px;
  }